.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8EA58C;
    color: #faf9f6;
    padding: 1rem;
}

.navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #faf9f6;
    text-decoration: none;
}

.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-center .nav-links li {
    margin-right: 1rem;
}

.navbar-center .nav-links a {
    color: #faf9f6;
    text-decoration: none;
}

.navbar-center .nav-links a:hover {
    color: #344C3D;
    text-decoration: none;
}